.attachment-box {
	&.attachment-box--size-thumbnail {
		min-height: 150px;
	}
	&.attachment-box--size-medium {
		min-height: 300px;
	}
	.attachment-box__item {
		margin-bottom: 10px;
		display: inline-flex;
		position: relative;
		.attachment {
			padding: 0;
			width: auto;
			float: none;
		}
		.dashicons-remove {
			position: absolute;
			right: -8px;
			top: -8px;
			cursor: pointer;
		}
	}
}
